//* VARIABLES *//

// background

$bg: rgb(0, 0, 0);
$bgNav: rgba(0, 0, 0, 0.942);


//coloresletras
$letter: #fff;
$letterNav: rgb(215, 215, 215);

//fonts-familys
$font-family1: 'Splash', cursive;
$font-family2: 'Poppins', sans-serif;
$font-family3: 'Raleway', sans-serif;